#start-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);

  > button {
    margin-top: var(--spacing-xl);
  }
}
