@import '../../styles/mixins';

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 1rem;

  > img {
    width: 100px;
  }

  @include sm {
    flex-direction: row;
  }
}
